<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='chat.css')}}">
    <script src="{{url_for('static' , filename='chat.js')}}"></script>

</head>
<body>

    <nav class="bar-cont-cont">
          <div class="bar-cont">
              
            <img src="{{url_for('static' ,filename='Python-logo-notext.svg.png')}}" alt="">
        <ul> <a href="#ib" class="bar-a">Programa de años intermedios</a> </ul>
        <ul>
           <a href="#py" class="bar-a">Python</a> 
        </ul>
        <ul >
           <a href="#ai" class="bar-a">Inteligencia Artifical</a> 
        </ul>
    </div>
    </nav>

    <header>      

        <div class="vid-cont">
        <video autoplay muted loop>
            <source src="{{url_for('static' ,filename='vidpb.mp4')}}" type="video/mp4">
          </video>
        </div>



        <h1 class="titles">Bienvenidos</h1>
        <div class="header-button-cont">
            <button class="header-a">
            <a href="http://127.0.0.1:5000/chat">Entrar</a>
            </button>
        </div>

    </header>
    
    <main class="main">

        <div class="slide-cont">
            <div class="slide">
                <div class="in-slide">
            <img class="slide-obj" id="first" src="{{url_for('static' ,filename='pexels-pixabay-270360.jpg')}}" alt="">

            <iframe class="slide-obj" id="second" width="560" height="315" src="https://www.youtube.com/embed/4f3GpJZtvns" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            
            <iframe class="slide-obj" id="third" width="560" height="315" src="https://www.youtube.com/embed/_tA5cinv0U8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>        </div>
        </div>

        <div class="wrapper">
        <div class="button-cont">
        <a href="#first" ><img src="{{url_for('static' ,filename='white-circle-frame-with-shadow-free-png.webp')}}" alt=""></a>
        <a href="#second" ><img src="{{url_for('static' ,filename='white-circle-frame-with-shadow-free-png.webp')}}" alt=""></a>
        <a href="#third" ><img src="{{url_for('static' ,filename='white-circle-frame-with-shadow-free-png.webp')}}" alt=""></a>
    </div>
    </div> 
        </div>

    <section class="sect" id="ib">
        <img class="sect-img"  src="{{url_for('static' ,filename='ib1.png')}}" alt="">
        
        <p class="sect-p">El marco curricular del PAI consta de ocho grupos de asignaturas que ofrecen una educación amplia y equilibrada a los alumnos durante los primeros años de la adolescencia.

            El PAI requiere dedicar al menos 50 horas lectivas a cada grupo de asignaturas en cada año del programa. Durante los dos últimos años del programa, la flexibilidad –cuidadosamente definida– de los grupos de asignaturas permite que los alumnos cumplan con los requisitos locales y logren sus objetivos personales de aprendizaje.</p>
    </section>        

    <section class="sect" id="py">
        <p class="sect-p">Python es un lenguaje de programación ampliamente utilizado en las aplicaciones web, el desarrollo de software, la ciencia de datos y el machine learning (ML). Los desarrolladores utilizan Python porque es eficiente y fácil de aprender, además de que se puede ejecutar en muchas plataformas diferentes. El software Python se puede descargar gratis, se integra bien a todos los tipos de sistemas y aumenta la velocidad del desarrollo.</p>
        <img class="sect-img" src="{{url_for('static' ,filename='Python-logo-notext.svg.png')}}" alt="">
        
    </section>        

    <section class="sect"  id="ai">
        <img class="i" class="sect-img" src="{{url_for('static' ,filename='openai.svg')}}" alt="">
        <p class="sect-p">OpenAI es una empresa de investigación e implementación de IA. Su misión es asegurar que la inteligencia artificial general beneficie a toda la humanidad, estan centrados en la investigación y desarrollo de proyectos de inteligencia artificial. Son responsables de redes neuronales tan relevantes como GPT-3, pero no están exentos de polémica..
        </p>
    </section>        

    </main>

    <footer>
        <div class="foot-cont">
            <div class="in-footer">
            <p class="footer-p a">Escribeme a<a class="footer-p" href="mailto:d.bastidas@copol.edu.ec">d.bastidas@copol.edu.ec</a> </p>
            <p class="footer-p a">Copyright © 2023 Dustin Bastidas</p>
        </div>
        </div>

        <div class="foot-cont">
            <div class="in-footer">
            <p class="footer-title">Agradecimientos Especiales</p>
            <p class="footer-p">Carolina Mantillo</p>
            <p class="footer-p">Victor Rodriguez</p>
        </div>

        </div>
    </footer>
</body>
</html>